altgraph==0.17
appdirs==1.4.3
certifi==2019.11.28
chardet==3.0.4
cImage==2.0.2
ecdsa==0.15
esptool==2.8
future==0.18.2
idna==2.8
iso8601==0.1.12
macholib==1.14
modulegraph==0.18
numpy==1.18.1
py2app==0.20
pyaes==1.6.1
pygame==2.0.0.dev6
PyInstaller==4.0.dev0+d08a42c612
PyOpenGL==3.1.5
PySDL2==0.9.6
pyserial==3.4
python-chess==0.30.1
PyYAML==5.3
requests==2.22.0
six==1.14.0
urllib3==1.25.8
